<div class="footer mt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mb-4">
        <h5>
          <i class="fas fa-trophy me-2"></i>
          LinkSports
        </h5>
        <p class="mb-3">India's premier sports networking platform connecting athletes, coaches, and clubs.</p>
        <div class="d-flex">
          <a href="#" class="text-white me-3"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="text-white me-3"><i class="fab fa-twitter"></i></a>
          <a href="#" class="text-white me-3"><i class="fab fa-instagram"></i></a>
          <a href="#" class="text-white me-3"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
      
      <div class="col-lg-2 col-md-6 mb-4">
        <h6>Platform</h6>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white-50">Discover Athletes</a></li>
          <li><a href="#" class="text-white-50">Find Coaches</a></li>
          <li><a href="#" class="text-white-50">Join Clubs</a></li>
          <li><a href="#" class="text-white-50">Events</a></li>
        </ul>
      </div>
      
      <div class="col-lg-2 col-md-6 mb-4">
        <h6>Sports</h6>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white-50">Cricket</a></li>
          <li><a href="#" class="text-white-50">Football</a></li>
          <li><a href="#" class="text-white-50">Basketball</a></li>
          <li><a href="#" class="text-white-50">Tennis</a></li>
        </ul>
      </div>
      
      <div class="col-lg-2 col-md-6 mb-4">
        <h6>Company</h6>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white-50">About Us</a></li>
          <li><a href="#" class="text-white-50">Careers</a></li>
          <li><a href="#" class="text-white-50">Press</a></li>
          <li><a href="#" class="text-white-50">Contact</a></li>
        </ul>
      </div>
      
      <div class="col-lg-2 col-md-6 mb-4">
        <h6>Support</h6>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white-50">Help Center</a></li>
          <li><a href="#" class="text-white-50">Privacy Policy</a></li>
          <li><a href="#" class="text-white-50">Terms of Service</a></li>
          <li><a href="#" class="text-white-50">Community Guidelines</a></li>
        </ul>
      </div>
    </div>
    
    <hr class="my-4 border-secondary">
    
    <div class="row align-items-center">
      <div class="col-md-8">
        <p class="text-white-50 mb-0">&copy; <%= Date.current.year %> LinkSports. All rights reserved.</p>
      </div>
      <div class="col-md-4 text-md-end">
        <p class="text-white-50 mb-0">Made with <i class="fas fa-heart text-danger"></i> for Indian Sports</p>
      </div>
    </div>
  </div>
</div>
