<% content_for :admin_breadcrumb do %>
  <%= link_to 'Sports', admin_sports_path %> <span class="divider">/</span> <span>Edit</span>
<% end %>

<div class="container-fluid">
  <h1 class="h3 mb-3">Edit Sport</h1>
  <%= render 'form', sport: @sport %>
</div>


